---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$body-bg: #fdfdfd;

body { padding-top: 70px; }
.icon-site-logo { padding-top: 1px !important; }
.resume { max-width: 720px; }

@import "bootstrap";
