---
layout: default
title: Resumé
permalink: /resume/
---

<div class="resume center-block">
    <div class="page-header">
        <h1>{{ site.firstname }} {{ site.lastname }}</h1>
        <p class="lead">I'm iOS Developer from Chiang Mai, Thailand. I'm looking for new opportunities. Here is more about me.</p>
    </div>

    <h3>Skills</h3>
    <h4>{{ site.data.skills.title }}</h4>
    <p>{{ site.data.skills.description }}</p>

    <hr />

    <h3>Education</h3>
    <div class="clearfix">
        <div class="pull-left">
            <h4>{{ site.data.education.university }}</h4>
        </div>
        <div class="pull-right">
            <h4 class="text-right">{{ site.data.education.location }}</h4>
        </div>
    </div>
    <p>{{ site.data.education.degree }}, {{ site.data.education.year }}</p>
    <p>{{ site.data.education.description }}</p>

    <hr />

    <h3>Experience</h3>
    {% for job in site.data.experience %}
        <div class="clearfix">
            <div class="pull-left">
                {% if job.website %} <a href="{{ job.website }}" target="_blank"> {% endif %}
                    <h4>{{ job.company }}</h4>
                {% if job.website %} </a> {% endif %}
                <h5>{{ job.position }}</h5>
            </div>
            <div class="pull-right">
                <h4 class="text-right">{{ job.location }}</h4>
                <p class="text-right">{{ job.startDate }} - {{ job.endDate }}</p>
            </div>
        </div>
        <p>{{ job.description }}</p>
        {% if job.clients %}
        <p>
            <strong>Clients: </strong>
            {% for client in job.clients %}
                <a href="{{ client.website }}" target="_blank">{{ client.title }}</a>
            {% endfor %}
        </p>
        {% endif %}
    {% endfor %}

    <hr />

    <h3>Speaking</h3>
    {% for talk in site.data.speaking %}
        <div class="clearfix">
            <div class="pull-left">
                <h4>{{ talk.title }}</h4>
                <p>{{ talk.conference }}</p>
            </div>
            <div class="pull-right">
                <h4 class="text-right">{{ talk.location }}</h4>
                <p class="text-right">{{ talk.date }}</p>
            </div>
        </div>
    {% endfor %}

    <hr />

    <br />
    <p class="text-center">Download as <a href="/assets/data/Resume 20160907.pdf" target="_blank">PDF</a></p>

</div>
