---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$body-bg: #fdfdfd;
$jumbotron-padding: 80px;
$jumbotron-heading-font-size: 48px;

body { padding-top: 70px; }
.icon-site-logo { padding-top: 1px !important; }
footer { padding: 50px 0px; }

.profile-picture { max-width: 300px; }
.jumbotron { margin-bottom: 0px !important; }

.resume { max-width: 750px; }

.thumbnail { height: 450px; }

@import "bootstrap";
